ColdFrame.xsd

<?xml version="1.0"?>

<!-- $Id: ColdFrame.xsd,v 4f3e8da9126f 2004/06/04 14:48:19 simon $ -->

<xsd:schema
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http:/www.pushface.org/coldframe/ColdFrame"
  xmlns:cf="http:/www.pushface.org/coldframe/ColdFrame"
  xmlns="http:/www.pushface.org/coldframe/ColdFrame">

  <!--
       I don't know why we have to have a default namespace here!
       The examples in Professional XML 2nd Edition don't show it .. 
       but, if it's left out, the "ref"s don't work.
       -->

  <xsd:element name="domain">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="name"/>
        <xsd:element name="extractor"/>
        <xsd:element name="date">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="year"/>
              <xsd:element name="month"/>
              <xsd:element name="day"/>
              <xsd:element name="time"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="revision" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="normalizer"/>
        <xsd:element ref="documentation" minOccurs="0" maxOccurs="1"/>
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element ref="class"/>
          <xsd:element ref="type"/>
        </xsd:choice>
        <xsd:element ref="exception" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:group ref="relationship" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="references" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="documentation">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="par" minOccurs="1" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="class">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="name"/>
        <xsd:element name="abbreviation"/>
        <xsd:element ref="documentation" minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="attribute" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="operation" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="event" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="statemachine" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
      <xsd:attribute name="abstract"/>
      <xsd:attribute name="active"/>
      <xsd:attribute name="max"/>
      <xsd:attribute name="priority"/>
      <xsd:attribute name="public"/>
      <xsd:attribute name="singleton"/>
      <xsd:attribute name="stack"/>
      <xsd:attribute name="utility"/>
      <xsd:attribute name="visible"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="type">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="name"/>
        <xsd:element ref="documentation" minOccurs="0" maxOccurs="1"/>
        <xsd:group ref="typeDetail"/>
        <xsd:element ref="operation" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="callback"/>
      <xsd:attribute name="serializable"/>
      <xsd:attribute name="discriminated"/>
      <xsd:attribute name="protected"/>
      <xsd:attribute name="extends"/>
      <xsd:attribute name="hash"/>
      <xsd:attribute name="field-image"/>
      <xsd:attribute name="type-image"/>
      <xsd:attribute name="null"/>
      <xsd:attribute name="unconstrained"/>
      <xsd:attribute name="standard"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:group name="typeDetail">
    <xsd:choice>
      <xsd:element ref="attribute" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="array">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="type"/>
            <xsd:element name="index"/>
          </xsd:sequence>
          <xsd:attribute name="unconstrained"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="counterpart"/>
      <xsd:element name="enumeration">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="literal" minOccurs="1" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="integer">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lower" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="upper" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="real">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="digits" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="lower" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="upper" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="string">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="fixed"/>
            <xsd:element name="max"/>
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="imported"/>
      <xsd:element name="null"/>
      <xsd:element name="renames"/>
    </xsd:choice>
  </xsd:group>

  <!--
       Note, this is not at all precise.
       Ordinary attributes must have name/type/[documentation] & may have
       @identifier, @class, @refers+@relation, @visibility.
       Referential attributes have @refers, @relation, @role & optionally
       @identifier.
       -->
  <xsd:element name="attribute">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="1">
        <xsd:element name="name"/>
        <xsd:element name="type"/>
        <xsd:element name="initial" minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="documentation" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
      <xsd:attribute name="class"/>
      <xsd:attribute name="identifier"/>
      <xsd:attribute name="refers"/>
      <xsd:attribute name="relation"/>
      <xsd:attribute name="role"/>
      <xsd:attribute name="visibility"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="operation">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="name"/>
        <xsd:element ref="documentation" minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="abstract"/>
      <xsd:attribute name="access"/>
      <xsd:attribute name="accessor"/>
      <xsd:attribute name="class"/>
      <xsd:attribute name="convention"/>
      <xsd:attribute name="entry"/>
      <xsd:attribute name="final"/>
      <xsd:attribute name="finalize"/>
      <xsd:attribute name="handler"/>
      <xsd:attribute name="initialize"/>
      <xsd:attribute name="renames"/>
      <xsd:attribute name="return"/>
      <xsd:attribute name="suppressed"/>
      <xsd:attribute name="teardown"/>
      <xsd:attribute name="visibility"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="parameter">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="name"/>
        <xsd:element name="type"/>
        <xsd:element name="initial" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="mode" minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="documentation" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="event">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="name"/>
        <xsd:element name="type" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
      <xsd:attribute name="class"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="statemachine">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="name"/>
        <xsd:element ref="state" minOccurs="1" maxOccurs="unbounded"/>
        <xsd:element ref="event" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="transition" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="state">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="name"/>
        <xsd:element name="action" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="documentation" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
      <xsd:attribute name="initial"/>
      <xsd:attribute name="final"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="transition">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="event" minOccurs="0" maxOccurs="1"/>     <!-- XXX -->
        <xsd:element name="action" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="source"/>
        <xsd:element name="target"/>
        <xsd:element ref="documentation" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
      <xsd:attribute name="ignore"/>
      <xsd:attribute name="self"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="exception">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="name"/>
        <xsd:element ref="documentation" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
      <xsd:attribute name="imported"/>
      <xsd:attribute name="renames"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="association">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="name"/>
        <xsd:element ref="role" minOccurs="2" maxOccurs="2"/>
        <xsd:element name="associative" minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="documentation" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="role">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="classname"/>
        <xsd:element name="name"/>
      </xsd:sequence>
      <xsd:attribute name="conditional"/>
      <xsd:attribute name="multiple"/>
      <xsd:attribute name="source"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="inheritance">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="name"/>
        <xsd:element name="parent"/>
        <xsd:element name="child" minOccurs="1" maxOccurs="unbounded"/>
        <xsd:element ref="documentation" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:group name="relationship">
    <xsd:choice>
      <xsd:element ref="association"/>
      <xsd:element ref="inheritance"/>
    </xsd:choice>
  </xsd:group>

  <xsd:element name="references"/>

</xsd:schema>
